<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Favoritas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <app-card-ad [republica]="republicas[2]"></app-card-ad>
        </ion-slide>
        <ion-slide>
            <app-card-ad [republica]="republicas[1]"></app-card-ad>
        </ion-slide>
    </ion-slides>
</ion-content>
