<ion-header>
  <ion-toolbar>
      <ion-button slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-button>
      <ion-title>Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../../assets/img/republica1.jpg"></ion-img>
        <ion-header>
            <ion-card-subtitle>Rua dos Bobos, nº 0</ion-card-subtitle>
            <ion-card-title>Vila das Flores - Cidade Maravilha</ion-card-title>
        </ion-header>
        <ion-card-content>
            Por outro lado, a competitividade nas transações comerciais
            deve passar por modificações independentemente das formas de ação.
        </ion-card-content>
    </ion-card>
</ion-content>
