<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Início</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Procurar repúblicas"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <ion-card class="anuncio" color="tertiary">
                <ion-img [src]=republica1.img></ion-img>
                <ion-card-header>
                    <ion-card-subtitle>{{republica1.endereco}}</ion-card-subtitle>
                    <ion-card-title>{{republica1.bairro + ' - ' + republica1.cidade}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>{{republica1.descricao}}</ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="list"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="/favoritas">
                <ion-icon name="bookmark"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
